{% extends 'base.html.twig' %}

{% block title %}Edit Site{% endblock %}

{% block body %}
<div class="pure-g" style="margin-top: 40px;"></div>
<div style="border: 1px solid #000; width: 95vw;padding: 20px;margin: 20px auto; display: flex; flex-direction: column; justify-content: center; align-items: center;">
     <h1>Edit Site</h1>
</div>



    {{ include('site/_form.html.twig', {'button_label': 'Update'}) }}

 <div class="containerBouton"></div>
    <a href="{{ path('app_site_index') }}">back to list</a>
</div>

    {{ include('site/_delete_form.html.twig') }}
</div>

{% endblock %}
