* {
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    background-color: #000;
}

nav a {
    text-decoration: none;
    color: #fff;
}


nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    margin: 10px;
    color: #fff;
}

.nav-titre {
    font-size: 30px;
    font-weight: bold;
}

.bouton-burger {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    display: none;
    cursor: pointer;
    z-index: 100;
    background-color: #fff;
    border-radius: 5px;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bouton-burger i {
    font-size: 40px;
}

.menu-burger {
    position: fixed;
    top: 0;
    right: -100vw;
    width: 100%;
    height: 100vh;
    z-index: 50;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(45deg, rgba(0, 0, 0, 0.9)50%, rgba(0, 0, 0, 0.9)50%);
    background-size: cover;
    background-position: center;

    transition-duration: 0.3s;
}

.menu-burger-open {
    right: 0;
}

.menu-burger ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-burger ul li {
    margin: 20px;
}

.menu-burger ul a {
    color: #fff;
    margin: 40px;
    font-size: 30px;
}

.formulaire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-date {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerBouton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerInput {
    border: 1px solid red;
}

.flash-notice {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: green;
    color: #fff;
    border-radius: 5px;
}

.blocParticipant {
    width: 25vw;
    padding: 20px;
    margin-left: 70vw; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}


.boutonPlus {
    background-color: #444;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid blue;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boutonPlus a {
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions a {
    margin: 10px;
}

.bloc {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.formLieu {
    display: none;
}

.containerPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerPrincipal h1 {
    letter-spacing: 0em;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 500px;
}

.modalLieu {
    width: 300px;
    height: 500px;
    position: absolute;
    top: 50%;
    right: 50%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    background-color: #ccc;
    transform: translateX(-50%);
    transform: translateY(-50%);
}


@media screen and (max-width: 800px) {
    .nav-liens {
        display: none;
    }

    .bouton-burger {
        display: flex;
    }
}

h1{
    text-align: center;
}

.box{
    text-align:center;

}