<form method="post" action="{{ path('app_sortie_desist', {'sortieId': sortie.id,'userId': user.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('desist' ~ sortie.id ~ user.id) }}">
    <button class="btn">Desist</button>
</form>
