{{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="containerBouton" style=" flex-direction: column; justify-content:center; margin-top: 20px;">
    <button class="pure-button pure-button-primary; margin-top: 20px; ">{{ button_label|default('Save') }}</button>
    </div>

{{ form_end(form) }}


