<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Sortir.com
			{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://kit.fontawesome.com/29ef46100e.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/pure-min.css" integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH" crossorigin="anonymous">
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}

			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}

			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>

		{% include 'layouts/nav.html.twig' %}

		{% block body %}{% endblock %}

		<script src="/js/script.js"></script>
		<script src='https://kit.fontawesome.com/29ef46100e.js' crossorigin='anonymous'></script>
	</body>
</html>
